@import "./Variables";

.donate-button {
	@keyframes dance {
		0%,
		100% {
			transform: translateY(-8px) rotate(-3deg) scale(1.05);
			filter: drop-shadow(0 0 10px rgba(255, 215, 0, 0.7));
		}
		25% {
			transform: translateY(-8px) rotate(-5deg) scale(1.05);
			filter: drop-shadow(0 0 10px rgba(255, 215, 0, 0.7));
		}
		75% {
			transform: translateY(-6px) rotate(-3deg) scale(1.05);
			filter: drop-shadow(0 0 10px rgba(255, 215, 0, 0.7));
		}
	}

	animation: dance 2s ease-in-out infinite;
	position: absolute;
	display: flex;
	top: 1rem;
	right: 1rem;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease;
	z-index: 1000;
	background: none;
	border-radius: 50%;
	padding: 0;
	margin: 0;
	img {
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		object-fit: contain;
	}

	&:hover {
		transform: scale(1.25);
		filter: drop-shadow(0 0 5px gold);
	}

	&.invisible {
		animation: fadeOutAndSpin 0.8s forwards;
		pointer-events: none;
	}
}

@keyframes fadeOutAndSpin {
	0% {
		opacity: 1;
		transform: rotate(0deg) scale(1);
	}
	50% {
		opacity: 0.5;
		transform: rotate(180deg) scale(0.8);
	}
	100% {
		opacity: 0;
		transform: rotate(360deg) scale(0);
	}
}
